body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    color: #333;
}

.user-list h2 {
    margin: 20px 0;
    color: #007bff;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #ffffff;
    text-transform: uppercase;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:last-child td {
    border: none;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Boutons et liens */
.btn-admin {
    background-color: #007bff;
    color: #ffffff;
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-admin:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wifi-logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}
